<?xml version="1.0" encoding="UTF-8"?>
<!--
    Config file for YSimulator. All times are expressed as msecs.
    Attributes: view - one of workitem, resource or process
                instances - number of instances to run
                interval - how long to pause between each case start (ms)
-->
<simulation view="workitem" instances="3" interval="1500">

    <!-- host name of resource service, e.g. example.com, defaults to localhost -->
    <host>localhost</host>

    <!-- id of spec to use - MUST already be loaded in the engine -->
    <specification>
        <id>UID_ee4f0203-3072-402c-974b-774ff0a374f1</id>
        <version>0.1</version>
        <name>simTest</name>
    </specification>

    <!-- all the tasks of the spec -->
    <tasks>

        <!-- Attribute id: task name -->
        <task id="A">

            <!-- Can use either 'userid' or 'role' name as attribute value.. -->
            <!-- Attribute 'time' is msecs between item start and complete. -->
            <!-- Optional attribute 'deviation' is msecs plus or minus time (random calc). -->
            <!-- Optional attribute 'concurrent' is how many items the resource can
                 execute concurrently. The default is "1" -->
            <resource userid="th" concurrent="3" time="3000" deviation="1200"/>
            <resource userid="pp" time="1000"/>
        </task>
        <task id="B">
            <resource userid="th" time="6000"/>

            <!-- When 'role' is used, all members of that role may start a work item
                 and will execute it for the same period. -->
            <!-- If a resource is specified as an individual userid AND is a member of
                 a role, the individual setting takes precedence -->
            <resource role="CRO" time="2000"/>
        </task>
    </tasks>

    <!-- Total time a resource can spend executing work items in this simulation run. -->
    <!-- Any resources not listed are assigned the default; a value of -1 means no limit -->
    <limits default="15000">
        <resource userid="th" limit="10000"/>
        <resource role="CRO" limit="15000"/>
    </limits>
</simulation>